<script type='text/javascript'>
var pilots = {{pilots|safe}};
var ships = {{ships|safe}};
var upgrades = {{upgrades|safe}};
</script>

<head>
  {% load staticfiles %}
  <title>"Xwing!!!!!"</title>
  <link rel="stylesheet" href="{% static 'css/squadbuilder.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type = "text/css"/>
</head>

<body>
  <h1>This will be the builder eventually</h1>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#Rebels" aria-controls="Rebels" role="tab" data-toggle="tab">Rebel Alliance</a></li>
    <li role="presentation"><a href="#Empire" aria-controls="Empire" role="tab" data-toggle="tab">Galactic Empire</a></li>
    <li role="presentation"><a href="#Scum" aria-controls="Scum" role="tab" data-toggle="tab">Scum and Villainy</a></li>
  </ul>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="tab-content">
    	  <div role="tabpanel" class="tab-pane active" id="Rebels">
        </div>
        <div role="tabpanel" class="tab-pane" id="Empire">
        </div>
        <div role="tabpanel" class="tab-pane" id="Scum">
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
          <div class="panel-heading">Your Current Squad<span id='cost'> (0/100) </span></div>
          <div class="panel-body" id="currentsquad">
          </div>
      </div>
      </div>
  </div>
</div>






<!--templates-->
  <!--Second template will be used for populating the pilot/upgrade structure after user
  selects a pilot in the "Add Pilot" menu system-->
  <div style="display: none">
    <div class="row" id="selected-pilot-template">
      <div class="col-md-3 vcenter img_container">
        <img class="squad-pilot">
        <button class="button btn btn-danger remove-pilot"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
  </div>

  <!--upgrade slot template for builder view-->
  <div style="display: none">
    <div class="col-md-2 vcenter" id="upgrade-slot-template">
      <div class="dropdown-template">
        <button class="btn btn-default dropdown-toggle" type="button" id="upgrade-type-pilot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul id="upgrade-list" class="dropdown-menu scrollable-menu" aria-labelledby="upgrade-type-pilot">
        </ul>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/squadbuilder.js'%}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>
