<script type='text/javascript'>
var pilots = {{pilots|safe}};
</script>

<head>
  {% load staticfiles %}
  <title>"Squad builder"</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type = "text/css"/>
</head>


<body>
  <ul class="nav nav-pills" id='factiontabs'>
    <li class='active'><a onclick="selectFaction('rebels')" href="#Rebels" role="tab" data-toggle="tab">Rebel Alliance</a></li>
    <li><a onclick="selectFaction('empire')" href="#Empire" role="tab" data-toggle="tab">Galactic Empire</a></li>
    <li><a onclick="selectFaction('scum')" href="#Scum" role="tab" data-toggle="tab">Scum and Villainy</a></li>
  </ul>

  <div class="container-fluid">
    <div class="row">
      <!--move this stuff to modals-->
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Your Current Squad</div>
          <div class="panel-body" id="currentsquad">

            <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target=".pilot">Add a pilot
            </button>

            <div class="modal fade pilot" tabindex="-1"
             role="dialog" aria-labelledby="pilots">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content" id='rebelpilots'>
                  <div role="tabpanel" class="tab-pane active" id="pilots">
                    <p>testetsetst</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/squadbuilder.js'%}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>
