<script type='text/javascript'>
var pilots = {{pilots|safe}};
</script>

<head>
  {% load staticfiles %}
  <title>"Xwing!!!!!"</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type = "text/css"/>
</head>

<body>
  <h1>This will be the viewer eventually</h1>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#Rebels" aria-controls="Rebels" role="tab" data-toggle="tab">Rebel Alliance</a></li>
    <li role="presentation"><a href="#Empire" aria-controls="Empire" role="tab" data-toggle="tab">Galactic Empire</a></li>
    <li role="presentation"><a href="#Scum" aria-controls="Scum" role="tab" data-toggle="tab">Scum and Villainy</a></li>
  </ul>

  <div class="tab-content">
	  <div role="tabpanel" class="tab-pane active" id="Rebels">
    </div>
    <div role="tabpanel" class="tab-pane" id="Empire">
    </div>
    <div role="tabpanel" class="tab-pane" id="Scum">
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/cardviewer.js'%}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>
